@font-face {
    font-family: 'LogoFont';
    src: url(Norse-Bold.otf)format('opentype');
}

*{
    border: 0.2px solid black;
}
:root{
    --input-border: #e5e7eb;
    --button-color: #596d48;
    --dirty-white: #E8E4C9;
    --input-valid: rgb(0, 255, 0);
    --input-invalid: rgb(255, 51, 51);
    --input-required: #9b9c9e;
    --input-hover: rgb(235, 235, 235);

}
body,html{
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.container{
    display: flex;
    height: 100%;
    
}
.column1{
    width: 30%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}
.firstColumnContainer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 10rem;
}
#odinLogo{
    max-height: 7rem;
    padding-right: 0.5rem;
}
.odin-text{
    font-family: 'LogoFont', sans-serif;
    color: white;
    font-size: 5rem;
}
.column2{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.secondColRowTwo {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

h1{
    font-family: "Montserrat", sans-serif;
    padding-left: 2rem;
}

.secondColRowTwoContainer{
    display: flex;
}

.inputContainer{
    display: flex;
    gap: 5px;
    align-items: center;
}



label{
    font-size: 0.8rem;
}

span{
    margin-bottom: 1.5rem;
    font-size: 0.5rem;
}

input{
    border-style: none;
    border: 1px solid var(--input-border);
    margin-bottom: 1.5rem;
    border-radius: 5px;
    outline-color: var(--input-border);
    appearance: none;
    box-sizing: border-box;
    
}

input:required{
    border: 1px solid var(--input-required);
}

input:hover{
    background-color: var(--input-hover);
}

input:invalid{
    border: 1px solid var(--input-invalid);
}


input:invalid + span::before {
    content: "✖";
    color: red;
  }
  
input:valid + span::before {
    content: "✓";
    color: green;
  }

.form-column {
    width: 48%; 
    padding: 0 2rem 0 2rem;
}

.form-column label,
.form-column input {
    display: block;
     /* Adjust spacing between fields */
}


.secondColRowOne, .secondColRowThree{
    background-color: whitesmoke;
    flex-grow: 1;
    padding-right: 3rem;
}

.secondColRowOne{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.secondColRowThree{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    
    
}

button{
    width: 13rem;
    background-color: var(--button-color);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

button:hover{
    background-color: #496b41;
}

.secondColRowThree>div{
    padding-top: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--button-color);
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: #496b41;
}

.hidden {
    display: none;
}

#passwordMismatchMessage{
    color: red;
}

